:root {
    --orange: rgb(255, 102, 0);
  }
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nosifer';
}

body{
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-around;
    color: white;
    background-image: url(./images/web_header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar > img{
    width: 200px;
    margin: 1%;
}

.navmenu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
}

.navmenu > a {
    text-decoration: none;
    color: white;
    margin-bottom: 5%;
}

.navmenu > a:first-child {
    text-decoration: none;
    color: var(--orange);
}

.main{
    background-color: black;
    display: flex;
    height: 55vh;
}

.main > img{
    width: 700px;
}

.main > div{
    background-color: black;
    width: 50%;
}

.gallery{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.column > div{
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.cuad1{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #92AD40;
    width: 50%;
    height: 50%;
}

.cuad2{
    position: absolute;
    bottom: 100;
    left: 0;
    background-color: #4059ad;
    width: 50%;
    height: 50%;
}

.cuad3{
    position: absolute;
    bottom: 0;
    left: 100;
    background-color: #ad8140;
    width: 50%;
    height: 50%;
}

.cuad4{
    position: absolute;
    bottom: 100;
    left: 100;
    background-color: #ad40a7;
    width: 50%;
    height: 50%;
}

.cuad1:hover + .imagen{
    margin: 5%;
}